# Temporal File Storage file
file.json

# VSCode Workspace
.vscode
*.code-workspace

# Python Cache
__pycache__

# Bash files
generate-authors.sh

# Files emacs
*~

# version folder tgz file tar gzipped
versions/

# Validaitor for html an css files of Holberton School
w3c_validator.py
