# Temporal File Storage file
file.json

# VSCode Workspace
.vscode
*.code-workspace

# Python Cache
__pycache__
*.pyc

# Bash files
generate-authors.sh

# Files emacs
*~

# version folder tgz file tar gzipped
versions/

# Test file python
main.py

#Database example sql
7-dump.sql
